.main-table {
    padding: 30px;
}

.timepicker{
    font-weight: bold;
    margin-bottom: 20px;
}

.ant-menu {
    background-color: #1145CC !important;
}

#main-header {
    background-color: #1145CC;
    color: white;
}
